{% schema %}
  {
    "name": "Product-Index",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
      }, {
        "type": "color",
        "id": "body_text",
        "label": "Body text",
        "default": "#000000"
      }
    ],
    "presets": [
      {
        "name": "Product-Index"
      }
    ]
  }
{% endschema %}

<section id="product-index__wrapper" class="max-w-4xl min-w-0 mx-auto p-4 grid grid-cols-1 gap-4">
  <hgroup class="flex justify-between items-start">
    <h2 class="text-2xl font-medium">{{ product.title }}</h2>
    <p class="font-mono font-medium text-xl">{{ product.price | money }}</p>
  </hgroup>

  <div>
    <aside class="space-y-4">
      <figure class="overflow-hidden rounded-lg">
        <img
          class="w-full h-auto aspect-auto"
          src="{{ product.featured_image |  image_url: width: 500 }}"
          alt="{{ product.title }}">
      </figure>

      <p>{{ product.description }}</p>
    </aside>

    <aside>
      {% form 'product'
        , product
        , return_to: "back" %}
        {% comment %} ! Checking for Default Variant; If there ISN'T a default, multiple inputs will be displayed. {% endcomment %}
        {% if product.has_only_default_variant == false %}
          {% for o in product.options_with_values %}
            {% liquid
              assign optionName = o.name | downcase
              assign productHandle = product.handle
            %}

            {{ optionName }}
          {% endfor %}
        {% else %}
          {% comment %} ! Default selecter, find a way to circumnavigate this {% endcomment %}
          {% liquid
            assign defaultVariant = product.variants | first
          %}
          <input
            type="hidden"
            name="id"
            value="{{ defaultVariant.id }}" />
        {% endif %}

        {% comment %} Quantity {% endcomment %}
        <input
          type="number"
          name="quantity"
          value="1">

        <!-- product add to cart -->
        <button type="submit" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add To Cart</button>
        <!-- end product add to cart -->
      {% endform %}
    </aside>
  </div>
</section>

<script src="{{ 'product.js' |  asset_url }}"></script>