{% schema %}
  {
    "name": "Product-Index",
    "settings": [],
    "presets": [
      {
        "name": "Product-Index"
      }
    ]
  }
{% endschema %}

<section id="product-index__wrapper" class="max-w-4xl min-w-0 mx-auto p-4 grid grid-cols-1 gap-4">
  <hgroup class="flex justify-between items-start">
    <h2 class="text-2xl font-medium">{{ product.title }}</h2>
    <p class="font-mono font-medium text-xl">{{ product.price | money }}</p>
  </hgroup>

  <div>
    <aside class="space-y-4">
      <figure class="overflow-hidden rounded-lg">
        <img src="{{ product.featured_image |  image_url: width: 500 }}" alt="{{ product.title }}">
      </figure>

      <p>{{ product.description }}</p>
    </aside>

    <aside>
      {% form 'product'
        , product %}
      {% comment %} Color {% endcomment %}
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
            <div class="single-product__option-wrapper js">
                <div class="product-option__{{ option.name | downcase }}"
                     id="SingleOptionSelector-{{ forloop.index0 }}">
                    {% for value in option.values %}
                        {% liquid 
                          assign option-name = option.name | downcase 
                          assign product-handle = product.handle
                          assign is_color = false
                        %}
                        
                        {% if option-name contains 'color' or option-name contains 'colour' %}
                            {% assign is_color = true %}
                        {% endif %}

                        <input type="radio" name="{{ option-name }}-{{ product-handle }}"
                               class="single-option-selector"
                               data-single-option-selector
                               data-index="option{{ option.position }}"
                               value="{{ value | escape }}"
                               data-color="{{ value | handleize }}"
                               {% if option.selected_value == value %}checked="checked"{% endif %}
                               id="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"/>
                        <label for="variant_{{ option-name }}-{{ product-handle }}-{{ forloop.index0 }}"
                               {% if is_color %}style="background-color: {{ value | split: ' ' | last | handle }};{% endif %}">{{ value }}</label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
      {% endunless %}

      {% comment %} Size {% endcomment %}
      {% endform %}
    </aside>
  </div>
</section>